
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#search-results {
    animation: fadeIn linear 1s;
}

.search-text {
    animation: fadeIn linear 1s;
    color: black;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    position: sticky;
    width: 75%;
}

.oilName {
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
}

.search-page-top {
    font-family: 'Varela Round', sans-serif;
}

.stars {
    width: 270px;
    margin-left: 200px
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
    color: #5fb894;
}

.card-columns{
    column-count: 3;
}
