
body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.table {
    animation: fadeIn linear 1s;
    color: dimgrey;
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    position: sticky;
    width: 75%;
}
