@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EssentialOilsCapstone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/search-custom.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>


<div class="px-4 py-5 text-center">
    <h1 class="display-4 fw-bold">Welcome To <br /> Essential Wellness!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-5 my-5">~~~~Tagline~~~~</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-primary btn-lg px-4" asp-area="" asp-controller="Oil" asp-action="Search">Search Oils</a>
        </div>
    </div>
    <div class="px-4 py-5 text-center">

        <div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                <h2>Why Use Essential Oils?</h2>
                <div class="carousel-item active">
                    <figure class=" text-center">
                        <div class="container">
                            <p class="px-6">
                                "Essential oils can help relax the body, help you sleep,
                                reduce headaches and enhance massage therapy."
                            </p>
                            <figcaption class="blockquote-footer">
                                Cara Thurman
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class=" text-center">
                        <div class="container">
                            <p class="px-6">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                            </p>
                            <figcaption class="blockquote-footer">
                                Latin Text
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class=" text-center">
                        <div class="container">
                            <p class="px-6">
                                "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                            </p>
                            <figcaption class="blockquote-footer">
                                More Latin Text
                            </figcaption>
                        </div>
                    </figure>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="--bs-body-color" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="--bs-body-color" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                    </svg>
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>




