@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Delete Oil</h1>

<form method="post">
    @foreach (var o in ViewBag.oils)
    {
        <div class="form-group">
            <label>
                <span>@o.Name</span>
                <input type="checkbox" name="oilIds" value="@o.Id" class="form-control">
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Oils" class="btn btn-danger">

</form>
