@model List<EssentialOilsCapstone.Models.Oil>

<h1>Essential Oil Properties</h1><br />

@if (Model.Count == 0)
{
    <p>No essential oils yet.</p>
}
else
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Properties</th>
        </tr>
        @foreach (var o in ViewBag.essentialOils)
        {
            <tr>
                <td>@o.Name</td>
                <td>@o.Description</td> 
                <td>@o.PropertyText</td>
                
            </tr>
        }
    </table>
}